* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

nav .myLogo span {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: italic;
}

nav .myLogo .yusuf {
  color: #007bff;
  margin-top: 10px;
}

nav .myLogo .tech {
  color: rgb(114, 114, 114);
}

nav {
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #f8f9fa;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  height: 70px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
}

nav ul li {
  margin-top: 15px;
}

nav ul .navLinks a {
  font-size: 18px;
  text-decoration: none;
  color: #0a9ae0;
  margin-right: 25px;
  position: relative;
  overflow: hidden;
}

nav ul .iconLinks span a {
  margin-right: 25px;
  position: relative;
  overflow: hidden;
}

nav ul .navLinks a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #0a58d3;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease, bottom 0.3s ease;
}

nav ul .navLinks a:hover::before {
  transform: scaleX(1);
}

nav ul .navLinks a:hover {
  color: #4879d0;
}

.menuToggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menuToggle input {
  position: absolute;
  width: 40px;
  height: 22px;
  left: -6px;
  top: -1px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menuToggle span {
  display: block;
  width: 28px;
  background-color: #007bff;
  border-radius: 3px;
  height: 3px;
  transition: 0.5s;
}

.menuToggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menuToggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menuToggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menuToggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.menuToggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.containerJumbotron {
  display: flex;
  padding-top: 60px;
  background-image: url(img/pattern-dots.jpg);
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: space-between;
}

.containerJumbotron .centerJumbotron {
  margin: 0px 0px 0px 100px;
}

.containerJumbotron img {
  width: 500px;
  height: 500px;
}

.containerJumbotron .introduction {
  width: 600px;
  padding-left: 50px;
}

.containerJumbotron .introduction .halo {
  font-size: 30px;
  background: -webkit-linear-gradient(#022e5e, #004f6f);
  text-shadow: 2px -2px rgb(30, 180, 255);
  -webkit-background-clip: text;
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: transparent;
}

.containerJumbotron .introduction span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.containerJumbotron .introduction h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(#022e5e, #004f6f);
  text-shadow: 2px -2px rgb(30, 180, 255);
  -webkit-background-clip: text;
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: transparent;
}

.containerJumbotron .introduction p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.containerJumbotron .introduction a button {
  width: 250px;
  height: 45px;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.containerJumbotron .introduction a button {
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
}

.containerJumbotron .introduction a button:hover {
  background-color: #004f6f;
  cursor: pointer;
}

.containerJumbotron .containerPicture {
  background-color: #007bff;
  padding-top: 60px;
  width: 650px;
  border-radius: 0px 0px 0px 250px;
  overflow: hidden;
  border: none;
  padding-left: 100px;
}

.containerAboutMe {
  text-align: center;
  width: 90%;
  margin: 0px auto;
  padding: 250px 0px 100px 0px;
  font-family: "Poppins", sans-serif;
}

.containerAboutMe p {
  margin-top: 50px;
}

.containerAboutMe h1 {
  color: rgb(114, 114, 114);
  border-bottom: 5px solid #007bff;
  width: 200px;
  margin: 0 auto;
}

.containerAboutMe h1 span {
  color: #007bff;
}

.myProjects {
  padding: 30px 0px 100px 0px;
  background-image: url(img/pattern-dots.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.myProjects h1 span {
  color: #007bff;
}

.myProjects h1 {
  color: rgb(114, 114, 114);
  border-bottom: 5px solid #007bff;
  text-align: center;
  padding-bottom: 10px;
  width: 236px;
  font-family: "Poppins", sans-serif;
  margin: 200px auto;
  margin-bottom: 0;
}

.myProjects .widgetProject {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 70px;
}

.myProjects .widgetProject .project-4,
.project-5,
.project-6 {
  margin-top: 35px;
}

.myProjects .widgetProject .kotak {
  width: 400px;
}

.myProjects .widgetProject .kotak img {
  width: 365px;
  height: 300px;
}

.myProjects .widgetProject h3 {
  font-family: "Poppins", sans-serif;
  color: #007bff;
}

.myProjects .widgetProject p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 20px;
}

.mySkills {
  padding: 100px 0px 100px 0px;
}

.mySkills .widgetSkills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mySkills h1 span {
  color: #007bff;
}

.mySkills h1 {
  font-family: "Poppins", sans-serif;
  border-bottom: 5px solid #007bff;
  width: 170px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 110px;
  color: rgb(114, 114, 114);
}

.mySkills .widgetSkills div {
  text-align: center;
  width: 400px;
}

.mySkills .widgetSkills div i {
  margin-bottom: 30px;
  margin-top: 30px;
  color: #007bff;
}

.mySkills .widgetSkills div h4,
i {
  font-family: "Poppins", sans-serif;
  color: #007bff;
}

.mySkills .widgetSkills div p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.myAchievement {
  padding: 100px 0px 100px 0px;
}

.myAchievement span {
  color: #007bff;
}

.myAchievement h1 {
  color: rgb(114, 114, 114);
  font-family: "Poppins", sans-serif;
  border: none;
  border-bottom: 5px solid #007bff;
  padding-bottom: 10px;
  width: 345px;
  margin: 0 auto;
}

.myAchievement .widgetAchievement {
  width: 90%;
  margin: 50px auto;
}

.myAchievement .widgetAchievement table {
  font-family: "Poppins", sans-serif;
}

.myEducation {
  padding: 200px 0px 200px 0px;
}

.myEducation span {
  color: #007bff;
}

.myEducation h1 {
  color: rgb(114, 114, 114);
  font-family: "Poppins", sans-serif;
  border: none;
  border-bottom: 5px solid #007bff;
  padding-bottom: 10px;
  width: 345px;
  margin: 0 auto;
}

.mainEducation {
  width: 85%;
  margin: 100px auto;
}

.widgetEducation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.widgetEducation .steps {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #999;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #e0e0e0;
  transition: all 200ms ease;
  transition-delay: 0s;
}

.steps .circle.active {
  transition-delay: 100ms;
  border-color: #4070f4;
  color: #4070f4;
}

.steps .progressBar {
  position: absolute;
  height: 4px;
  width: 99%;
  background: #4070f4;
  z-index: -1;
}

.progressBar .indicator {
  position: absolute;
  height: 100%;
  width: 0%;
  background: #4070f4;
  transition: all 300ms ease;
}

.myEducation .schoolEducation {
  font-family: "Poppins", sans-serif;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #007bff;
  margin: -60px auto;
}

.myCertificates {
  font-family: "Poppins", sans-serif;
  padding: 100px 0px 100px 0px;
}

.myCertificates span {
  color: #007bff;
}

.myCertificates h1 {
  color: rgb(114, 114, 114);
  border: none;
  border-bottom: 5px solid #007bff;
  padding-bottom: 10px;
  width: 338px;
  margin: 0 auto;
}

.myCertificates .widgetCertifications {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}

.myCertificates .widgetCertifications div {
  height: auto;
  width: auto;
}

.myCertificates .widgetCertifications div img {
  width: 500px;
  height: 350px;
}

.myContact {
  padding: 100px 0px 100px 0px;
}

.myContact span {
  color: #007bff;
}

.myContact h1 {
  color: rgb(114, 114, 114);
  border: none;
  border-bottom: 5px solid #007bff;
  width: 245px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.myContact .widgetContact {
  width: 700px;
  margin: 70px auto;
}

.myContact .widgetContact div input,
textarea,
button {
  width: 100%;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.myContact .widgetContact div input {
  height: 50px;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  color: #444444;
  border-radius: 7px;
  border: none;
}

.myContact .widgetContact div input:focus {
  outline: none;
}

.myContact .widgetContact div textarea {
  height: 165px;
  resize: none;
  padding: 15px 10px 0px 10px;
  border-radius: 7px;
  border: none;
  color: #444444;
  font-size: 18px;
}

.myContact .widgetContact div textarea:focus {
  outline: none;
}

.myContact .widgetContact div button {
  height: 50px;
  color: white;
}

.myContact .widgetContact div button i {
  color: white;
  margin-right: 20px;
}

.myContact .widgetContact div button {
  font-family: "Poppins", sans-serif;
}

.footerEnd {
  background-color: #007bff;
  height: auto;
}

.footerEnd .widgetFooter {
  padding: 100px 50px 50px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footerEnd .widgetFooter div {
  width: 400px;
  height: 400px;
  overflow: hidden;
  padding: 10px 10px 10px 0px;
}

.footerEnd .widgetFooter .widgetPertama h2,
p {
  font-family: "Poppins", sans-serif;
}

.footerEnd .widgetFooter .widgetKedua h2 {
  font-family: "Poppins", sans-serif;
}

.footerEnd .widgetFooter .widgetKedua iframe {
  width: 400px;
  height: 330px;
}

.footerEnd .widgetFooter .widgetKetiga {
  padding: 10px 10px 10px 10px;
}

.footerEnd .widgetFooter .widgetKetiga h2 {
  font-family: "Poppins", sans-serif;
  margin-left: 7%;
}

.footerEnd .widgetFooter .widgetKetiga .icon {
  display: flex;
  height: auto;
  margin-top: 15px;
  justify-content: space-around;
}

.footerEnd .widgetFooter .widgetKetiga .icon i {
  color: white;
  transition: 0.3s;
}

.footerEnd .widgetFooter .widgetKetiga .icon i:hover {
  color: rgb(218, 218, 218);
}

.footerEnd .widgetKetiga .contact {
  height: auto;
  padding: 10px 10px 0px 30px;
  margin-top: 20px;
}

.footerEnd .widgetKetiga .contact p,
i {
  color: white;
  font-family: "Poppins", sans-serif;
}

.footerEnd .widgetKetiga .contact p,
i {
  margin-right: 10px;
}

.footerEnd .widgetKetiga .contact a button {
  background-color: white;
  color: #007bff;
  font-family: "Poppins", sans-serif;
  height: 40px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.footerEnd .widgetKetiga .contact a button:hover {
  background-color: #b9b9b9;
  color: white;
}

@media screen and (max-width: 1300px) {
  nav ul {
    width: 30%;
    margin-right: 35%;
  }
}

@media screen and (max-width: 1200px) {
  nav ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 70px;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    width: 45%;
    background-color: #007bff;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
    overflow: auto;
  }

  .menuToggle {
    display: flex;
    margin-left: 70%;
  }

  nav ul.slide {
    transform: translateX(80%);
    opacity: 1;
  }

  nav ul .navLinks a {
    color: white;
  }

  nav ul .navLinks {
    font-size: 15px;
  }

  nav ul .iconLinks {
    display: block;
  }

  nav ul .iconLinks span a i {
    color: white;
  }
}

@media screen and (max-width: 922px) {
  nav ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 70px;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    width: 50%;
    background-color: #007bff;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  .menuToggle {
    display: flex;
  }

  nav ul.slide {
    transform: translateX(70%);
    opacity: 1;
  }

  nav ul .navLinks a {
    color: white;
  }

  nav ul .navLinks {
    font-size: 15px;
  }

  nav ul .iconLinks {
    display: block;
  }

  nav ul .iconLinks span a i {
    color: white;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 70px;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    width: 50%;
    background-color: #007bff;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul .navLinks a {
    font-size: 20px;
  }

  nav ul .navLinks a {
    color: white;
  }

  .menuToggle {
    display: flex;
  }

  nav ul.slide {
    transform: translateX(70%);
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 70px;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    width: 100%;
    background-color: #007bff;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul .navLinks a {
    font-size: 25px;
  }

  nav ul .navLinks a {
    color: white;
  }

  .menuToggle {
    display: flex;
    margin-left: 80px;
  }

  nav .myLogo img {
    display: none;
  }

  nav .myLogo span {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: italic;
  }

  nav .myLogo .yusuf {
    color: #007bff;
  }

  nav .myLogo .tech {
    color: rgb(114, 114, 114);
    margin-right: 80px;
  }

  nav ul.slide {
    transform: translateX(35%);
    opacity: 1;
  }

  nav ul .iconLinks {
    display: block;
  }

  .containerJumbotron {
    flex-direction: column-reverse;
  }

  .containerJumbotron .introduction {
    width: 600px;
    padding: 100px 70px 100px 100px;
  }

  .containerJumbotron .introduction .halo {
    font-size: 20px;
  }

  .containerJumbotron .introduction span {
    font-size: 18px;
  }

  .containerJumbotron .introduction h1 {
    font-size: 30px;
  }

  .containerJumbotron .introduction p {
    font-size: 12px;
  }

  .containerJumbotron .introduction a button {
    width: 150px;
    height: 40px;
  }

  .containerJumbotron img {
    width: 400px;
    height: 400px;
  }

  .myCertificates .widgetCertifications div img {
    width: 400px;
    height: 300px;
  }

  .myContact .widgetContact {
    width: 400px;
    margin: 70px auto;
  }

  .footerEnd .widgetFooter .widgetKetiga {
    margin-top: 100px;
  }

  .footerEnd .widgetKetiga .contact {
    height: auto;
    padding: 0px 0px 0px 0px;
    margin-top: 20px;
  }

  .footerEnd .widgetFooter .widgetKetiga .icon {
    display: flex;
    height: auto;
    margin-top: 15px;
    justify-content: space-around;
  }

  .footerEnd .widgetFooter .widgetKetiga {
    padding: 0px 0px 0px 0px;
  }

  .footerEnd .widgetFooter .widgetKetiga h2 {
    font-family: "Poppins", sans-serif;
    margin-left: 0%;
  }

  .footerEnd .widgetFooter .widgetKetiga .icon {
    display: flex;
    height: auto;
    margin-top: 15px;
    justify-content: start;
  }

  .footerEnd .widgetKetiga .contact a button {
    background-color: white;
    color: #007bff;
    font-family: "Poppins", sans-serif;
    height: 40px;
    border: none;
    width: 60%;
    border-radius: 10px;
    transition: 0.3s;
  }
}
